<%- include('partials/head') %>

  <nav>
    <a href="/d/">D</a>
    <a href="/e/">E</a>
    <a href="/f/">F</a>
  </nav>
</header>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="/detail/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul>

<%- include('partials/foot') %>
