<%- include('partials/head') %>

  <nav>
    <a href="/d/">D</a>
    <a href="/e/">E</a>
    <a href="/f/">F</a>
  </nav>
</header>
<ul>
  <% persons.forEach(person => { %>
    <li>
      <% if (person.avatar) { %>
        <img src="<%= person.avatar %>" alt="<%= person.name %> avatar" />
      <% } else { %>
        <img src="assets/default-avatar.svg" alt="<%= person.name %> avatar" />
      <% } %>

      <div class="name">
        <h2><%= person.name %></h2>
        <a href="/detail/<%= person.id %>">Details</a>
      </div>

      <form method="POST" action="/detail/<%= person.id %>/like">
        <span><%= person.custom?.fmlikes ? person.custom.fmlikes : 0 %></span>
        <button type="submit" name="like">Like</button>
      </form>
    </li>
  <% }) %>
</ul>

<%- include('partials/foot') %>
